<!DOCTYPE html>
<html lang="fr" data-fr-scheme="system">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href={Routes.static_path(@conn, "/assets/favicon/favicon.ico")} type="image/x-icon">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Accueil", suffix: " · SIFU" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/dsfr/dsfr.min.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header role="banner" class="fr-header">
        <div class="fr-header__body">
            <div class="fr-container">
                <div class="fr-header__body-row">
                    <div class="fr-header__brand fr-enlarge-link">
                        <div class="fr-header__brand-top">
                            <div class="fr-header__logo">
                                <p class="fr-logo">
                                    Préfet
                                    <br>du Val-
                                    <br>de-Marne
                                </p>
                            </div>
                        </div>
                        <div class="fr-header__service">
                            <a href="/" title="Accueil - UD94">
                              <p class="fr-header__service-title">DRIEAT-IF/UD94</p>
                            </a>
                            <p class="fr-header__service-tagline">SIFU · SImplification des FlUx de travail</p>
                        </div>
                    </div>
                    <%= render "_user_menu.html", assigns %>
                </div>
            </div>
        </div>
    </header>
    <%= @inner_content %>
    <footer class="fr-footer" role="contentinfo" id="footer">
        <div class="fr-container">
            <div class="fr-footer__body">
                <div class="fr-footer__brand fr-enlarge-link">
                    <a href="/" title="Retour à l’accueil">
                        <p class="fr-logo" title="république française">
                            Préfet<br>
                            du Val-<br>
                            de-Marne
                        </p>
                    </a>
                </div>
                <div class="fr-footer__content">
                    <p class="fr-footer__content-desc">SIFU · SImplification des FlUx de travail.</p>
                    <ul class="fr-footer__content-list">
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link" href="https://legifrance.gouv.fr">legifrance.gouv.fr</a>
                        </li>
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link" href="https://gouvernement.fr">gouvernement.fr</a>
                        </li>
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link" href="https://service-public.fr">service-public.fr</a>
                        </li>
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link" href="https://www.val-de-marne.gouv.fr/">val-de-marne.gouv.fr</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fr-footer__bottom">
                <ul class="fr-footer__bottom-list">
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="#">Plan du site</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="#">Accessibilité: non conforme</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="#">Mentions légales</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="#">Données personnelles</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="#">Gestion des cookies</a>
                    </li>
                </ul>
                <div class="fr-footer__bottom-copy">
                    <p>Sauf mention contraire, tous les contenus de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        // Options disponibles à l'initialisation du DSFR
        window.dsfr = {
            verbose: true,
            mode: 'manual'
        };
    </script>
    <script type="module" src={Routes.static_path(@conn, "/dsfr/dsfr/dsfr.module.min.js")}></script>
    <script type="text/javascript" nomodule  src={Routes.static_path(@conn, "/dsfr/dsfr/dsfr.nomodule.min.js")}></script>
  
  </body>
</html>
