<!DOCTYPE html>
<html lang="fr" data-fr-scheme="system">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href={Routes.static_path(@conn, "/assets/favicon/favicon.ico")} type="image/x-icon">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Accueil", suffix: " · Sifu" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/dsfr/dsfr.min.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header role="banner" class="fr-header">
        <div class="fr-header__body">
            <div class="fr-container">
                <div class="fr-header__body-row">
                    <div class="fr-header__brand fr-enlarge-link">
                        <div class="fr-header__brand-top">
                            <div class="fr-header__logo">
                                <p class="fr-logo">
                                    Intitulé
                                    <br>Officiel
                                </p>
                            </div>
                        </div>
                        <div class="fr-header__service">
                            <a href="/" title="Accueil - UD94">
                              <p class="fr-header__service-title">DRIEAT-IF/UD94/SRIC</p>
                            </a>
                            <p class="fr-header__service-tagline">SImplification des FlUx de travail</p>
                        </div>
                    </div>
                    <%= render "_user_menu.html", assigns %>
                </div>
            </div>
        </div>
    </header>
    <%= @inner_content %>

    <script>
        // Options disponibles à l'initialisation du DSFR
        window.dsfr = {
            verbose: true,
            mode: 'manual'
        };
    </script>
    <script type="module" src={Routes.static_path(@conn, "/dsfr/dsfr/dsfr.module.min.js")}></script>
    <script type="text/javascript" nomodule  src={Routes.static_path(@conn, "/dsfr/dsfr/dsfr.nomodule.min.js")}></script>
  
  </body>
</html>
